<div class="panel panel-default">
  <div class="panel-body">
  	  <div class="pull-left">
  	  	<h4>Settings</h4>
	  	<p>change settings</p>
	  </div>
	  <div class="pull-right">
		  <div class="dropdown">
			  <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="glyphicon glyphicon-option-vertical"></i></a>
			  <ul class="dropdown-menu dropdown-menu-right">
				<li><a href="#">Action</a></li>
				<li><a href="#">Another action</a></li>
				<li><a href="#">Something else here</a></li>
				<li role="separator" class="divider"></li>
				<li><a href="#">Separated link</a></li>
				<li role="separator" class="divider"></li>
				<li><a href="#">One more separated link</a></li>
			  </ul>
		  </div>
	  </div>
  </div>
</div>

<div class="container-fluid settings">
	<div class="row">
		<h1>MUHIRE REMY</h1>
		<hr>
	</div>
	<div class="row">
		<div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 ">
			<form class="form-horizontal">
				<div class="form-group">
					<label class="control-label col-sm-4 text-left" for="email">Full name :</label>
					<div class="col-sm-8">
					  <input type="email" class="form-control input-sm"  placeholder="Enter email">
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-4 text-left" for="email">username :</label>
					<div class="col-sm-8">
					  <input type="text" class="form-control input-sm" placeholder="Username">
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-4" for="email">Gender :</label>
					<div class="col-sm-2 col-md-2">
					 	<select class="form-control input-sm">
							<option>M</option>
							<option>F</option>
						</select>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-4" for="email">Birthday :</label>
					<div class="col-sm-2 col-md-2">
					 	<input type="number" class="form-control input-sm">
					</div>
					<div class="col-sm-3 col-md-3">
						<select class="form-control input-sm">
							<option>Juin</option>
						</select>
					</div>
					<div class="col-sm-3 col-md-3">
						<input type="number" class="form-control input-sm">
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-4 text-left" for="email">Occupation :</label>
					<div class="col-sm-8">
					  <input type="text" class="form-control input-sm" placeholder="Occupation">
					</div>
				</div>
				
				<div class="form-group">
                        <div class="col-sm-offset-4 col-md-offset-4 col-sm-8 col-md-8">
                           <button type="submit" class="btn btn-primary">Update info</button>
                        </div>
                     </div>
			</form>
			<hr>
			<form class="form-horizontal">
				<div class="form-group">
					<label class="control-label col-sm-4 text-left" for="email">Current password :</label>
					<div class="col-sm-8">
					  <input type="password" class="form-control input-sm" placeholder="Current password">
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-4 text-left" for="email">New password :</label>
					<div class="col-sm-8">
					  <input type="password" class="form-control input-sm" placeholder="New password">
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-4 text-left" for="email">Confirm password :</label>
					<div class="col-sm-8">
					  <input type="password" class="form-control input-sm" placeholder="Confirm password">
					</div>
				</div>
				<div class="form-group">
                        <div class="col-sm-offset-4 col-md-offset-4 col-sm-8 col-md-8">
                           <button type="submit" class="btn btn-primary">Change password</button>
                        </div>
                     </div>
			</form>
		</div>
	</div>
</div>