<nav class="navbar navbar-asprin">
   <div ng-include src="'views/app/ng-include/nav.htm'"></div>
   <!-- /.container-fluid -->
</nav>
<div class="container container-padding">
   <div ng-include src="'views/app/ng-include/header.htm'"></div>
   <div class="row">
      <div class="col-md-offset-2 col-md-8">
         <div class="row">
            <hr class="sep-line">
         </div>
         <div class="row">
		 </div>
         <div class="row">
            <div class="col-md-3">
               <div ng-include src="'views/app/ng-include/menu.htm'"></div>
            </div>
            <div class="col-md-9" ng-controller="asprinDocCtrl">
               <div class="row row-margin-left">
                  <h1 class="menu-header-2">ASRPRIN DOC</h1>
                  <table class="table app-table">
                     <tr>
                        <th ng-show="thCustomer">Customer</th>
                        <th>File</th>
                        <th>Size</th>
                        <th>Creation Date</th>
                        <th>Status</th>
                        <th>Details</th>
                     </tr>
                     <tr ng-repeat="asprin in asprins">
                        <td ng-show="trCustomer">Remy Muhire</td>
						 <td><a href="" ng-click="loadPdf(asprin.printer_job_id)">{{ asprin.filename}}</a></td>
                        <td>{{ asprin.size}} bytes</td>
                        <td>{{ asprin.regDate }}</td>
                        <td>
                        	<span ng-if="asprin.status == 1" class="label label-success">printed</span>
                        	<span ng-if="asprin.status == 3" class="label label-warning">pending</span>
                        	<span ng-if="asprin.status == 0" class="label label-danger">Failed</span>
                        </td>
						 <td><a class="moreAsprin" ng-click="moreAsprin(asprin.printer_job_id)">more</a></td>
                     </tr>
                    
                  </table>
                  <div class="text-center">
                     <ul class="pagination">
                        <li><a href="#">1</a></li>
                        <li class="active"><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>

