<nav class="navbar navbar-asprin">
   <div ng-include src="'views/app/ng-include/nav.htm'"></div>
   <!-- /.container-fluid -->
</nav>
<div class="container container-padding">
   <div ng-include src="'views/app/ng-include/header.htm'"></div>
   <div class="row">
      <div class="col-md-offset-2 col-md-8">
         <div class="row">
            <hr class="sep-line">
         </div>
         <div class="row">
		 </div>
         <div class="row">
            <div class="col-md-3">
               <div ng-include src="'views/app/ng-include/menu.htm'"></div>
            </div>
            <div class="col-md-9">
               <div class="row row-margin-left">
                  <h1 class="menu-header-2">ASRPRIN DOC</h1>
                  <table class="table app-table">
                     <tr>
                        <th>ID</th>
                        <th>Customer</th>
                        <th>File</th>
                        <th>Size</th>
                        <th>Creation Date</th>
                        <th>Status</th>
                        <th>Details</th>
                     </tr>
                     <tr>
                        <td>1</td>
                        <td>Remy Muhire</td>
                        <td>C:\fakepath\af_sg.sql</td>
                        <td>3mb</td>
                        <td>03/06/2016</td>
                        <td><span class="label label-success">printed</span></td>
                        <td>more</td>
                     </tr>
                     <tr>
                        <td>1</td>
                        <td>Remy Muhire</td>
                        <td>C:\fakepath\af_sg.sql</td>
                        <td>3mb</td>
                        <td>03/06/2016</td>
                        <td><span class="label label-warning">pending</span></td>
                        <td>more</td>
                     </tr>
                     <tr>
                        <td>1</td>
                        <td>Remy Muhire</td>
                        <td>C:\fakepath\af_sg.sql</td>
                        <td>3mb</td>
                        <td>03/06/2016</td>
                        <td><span class="label label-success">printed</span></td>
                        <td>more</td>
                     </tr>
                     <tr>
                        <td>1</td>
                        <td>Remy Muhire</td>
                        <td>C:\fakepath\af_sg.sql</td>
                        <td>3mb</td>
                        <td>03/06/2016</td>
                        <td><span class="label label-success">printed</span></td>
                        <td>more</td>
                     </tr>
                     <tr>
                        <td>1</td>
                        <td>Remy Muhire</td>
                        <td>C:\fakepath\af_sg.sql</td>
                        <td>3mb</td>
                        <td>03/06/2016</td>
                        <td><span class="label label-success">printed</span></td>
                        <td>more</td>
                     </tr>
                     <tr>
                        <td>1</td>
                        <td>Remy Muhire</td>
                        <td>C:\fakepath\af_sg.sql</td>
                        <td>3mb</td>
                        <td>03/06/2016</td>
                        <td><span class="label label-danger">Failed</span></td>
                        <td>more</td>
                     </tr>
                     <tr>
                        <td>1</td>
                        <td>Remy Muhire</td>
                        <td>C:\fakepath\af_sg.sql</td>
                        <td>3mb</td>
                        <td>03/06/2016</td>
                        <td><span class="label label-success">printed</span></td>
                        <td>more</td>
                     </tr>
                     <tr>
                        <td>1</td>
                        <td>Remy Muhire</td>
                        <td>C:\fakepath\af_sg.sql</td>
                        <td>3mb</td>
                        <td>03/06/2016</td>
                        <td><span class="label label-success">printed</span></td>
                        <td>more</td>
                     </tr>
                  </table>
                  <div class="text-center">
                     <ul class="pagination">
                        <li><a href="#">1</a></li>
                        <li class="active"><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>

