<nav class="navbar navbar-asprin">
	<div ng-include src="'views/app/ng-include/nav.htm'"></div>
   <!-- /.container-fluid -->
</nav>
<div class="container container-padding">
   <div ng-include src="'views/app/ng-include/header.htm'"></div>
   <div class="row">
      <div class="col-md-offset-2 col-md-8">
         <div class="row">
            <hr class="sep-line">
         </div>
         <div class="row">
            <div class="col-md-3">
				<div ng-include src="'views/app/ng-include/menu.htm'"></div>
            </div>
            <div class="col-md-9">
               <div class="row">
                  <h1 class="menu-header" >SCAN PDF WITH ASPRIN</h1>
                  <div class="input-group col-md-9 col-lg-9 col-xs-10 asprin-input-center">
                     <span class="input-group-addon input-height"><a href="#" id="fire-file-btn"><i class="glyphicon glyphicon-file"></i></a></span>
                     <input type="text" class="form-control input-height" id="load-filename" aria-label="Amount (to the nearest dollar)">
                     <span class="input-group-addon input-height show-upload-btn" ng-show="false"><img src="img/loader.gif"></span>
                     <div class="file-asprin">
                        <input type="file" name="filename-asprin" id="filename-asprin" ng-show="false">
                     </div>
                  </div>
                  <div class="text-center">
                     <button class="btn btn-primary">SCAN</button>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>

