<nav class="navbar navbar-asprin">
   <div class="magenta-line"></div>
   <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
         <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
         <span class="sr-only">Toggle navigation</span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         </button>
         <a class="navbar-brand" href="#/app/"><img src="assets/img/asprin_logo.png" class="brand-logo"></a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
         <ul class="nav navbar-nav navbar-right">
            <li class="circular">
               <img src="assets/img/remy.jpg" class="img-circle">
            </li>
         </ul>
      </div>
   </div>
   <!-- /.container-fluid -->
</nav>
<div class="container container-padding">
   <div class="row">
      <h1 class="company-name-h">SELECT KALAOS</h1>
   </div>
   <div class="row">
      <div class="col-md-offset-2 col-md-8">
         <div class="row">
            <hr class="sep-line">
         </div>
         <div class="row">
            <div class="col-md-3">
               <table class="table">
                  <tr>
                     <td><a href="#/app/">New Order</a></td>
                     <td class="text-right"><a href="#/app/"><i class="glyphicon glyphicon-paperclip"></i></a></td>
                  </tr>
                  <tr>
                     <td><a href="#/app/asprin-doc">Asprin Doc</a></td>
                     <td class="text-right"><a href="#/app/asprin-doc"><i class="glyphicon glyphicon-file"></i></a></td>
                  </tr>
                  <tr>
                     <td><a href="#/app/printers">Printers</a></td>
                     <td class="text-right"><a href="#/app/printers"><i class="glyphicon glyphicon-print"></i></a></td>
                  </tr>
                  <tr>
                     <td><a href="#/app/">Book Keeping</a></td>
                     <td class="text-right"><a href="#/app/"><i class="glyphicon glyphicon-book"></i></a></td>
                  </tr>
                  <tr>
                     <td><a href="#/app/settings">Settings</a></td>
                     <td class="text-right"><a href="#/app/settings"><i class="glyphicon glyphicon-cog"></i></a></td>
                  </tr>
               </table>
            </div>
            <div class="col-md-9">
               <div class="row row-margin-left">
                  <h1 class="menu-header-2">SETTINGS</h1>
                  <form class="form-horizontal" role="form">
                     <div class="form-group">
                        <label class="control-label col-sm-4 col-md-4" for="fullname">Full name:</label>
                        <div class="col-sm-8 col-md-8">
                           <input type="text" class="form-control input-sm" id="fullname" placeholder="Full name">
                        </div>
                     </div>
                     <div class="form-group">
                        <label class="control-label col-sm-4 col-md-4" for="email">Email:</label>
                        <div class="col-sm-8 col-md-8">
                           <input type="text" class="form-control input-sm" id="email" placeholder="Email">
                        </div>
                     </div>
                     <div class="form-group">
                        <label class="control-label col-sm-4 col-md-4" for="gender">Gender:</label>
                        <div class="col-sm-2 col-md-2">
                           <select class="form-control input-sm">
                              <option value="m">M</option>
                              <option value="f">F</option>
                           </select>
                        </div>
                     </div>
                     <div class="form-group">
                        <label class="control-label col-sm-4 col-md-4" for="gender">Birthday:</label>
                        <div class="col-sm-2 col-md-2">
                           <select class="form-control input-sm">
                              <option value="m">Day</option>
                           </select>
                        </div>
                        <div class="col-sm-3 col-md-3">
                           <select class="form-control input-sm">
                              <option value="m">Month</option>
                           </select>
                        </div>
                        <div class="col-sm-3 col-md-3">
                           <input type="text" class="form-control input-sm" placeholder="Year">
                        </div>
                     </div>
                     <div class="form-group">
                        <label class="control-label col-sm-4 col-md-4" for="occupation">Occupation:</label>
                        <div class="col-sm-8 col-md-8">
                           <input type="text" class="form-control input-sm" id="occupation" placeholder="Occupation">
                        </div>
                     </div>
                     <h1 class="menu-header-form">Change password</h1>
                     <div class="form-group">
                        <label class="control-label col-sm-4 col-md-4" for="cpassword">Current password:</label>
                        <div class="col-sm-8 col-md-8">
                           <input type="password" class="form-control input-sm" id="cpassword" placeholder="Current password">
                        </div>
                     </div>
                     <div class="form-group">
                        <label class="control-label col-sm-4 col-md-4" for="npassword">New password:</label>
                        <div class="col-sm-8 col-md-8">
                           <input type="password" class="form-control input-sm" id="npassword" placeholder="New password">
                        </div>
                     </div>
                     <div class="form-group">
                        <label class="control-label col-sm-4 col-md-4" for="cnpassword">Confirm password:</label>
                        <div class="col-sm-8 col-md-8">
                           <input type="text" class="form-control input-sm" id="cnpassword" placeholder="Confirm password">
                        </div>
                     </div>
                     <div class="form-group">
                        <div class="col-sm-offset-4 col-md-offset-4 col-sm-8 col-md-8">
                           <button type="submit" class="btn btn-primary">Update settings</button>
                        </div>
                     </div>
                  </form>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>

