<nav class="navbar navbar-asprin">
  <div ng-include src="'views/app/ng-include/nav.htm'"></div>
   <!-- /.container-fluid -->
</nav>
<div class="container container-padding">
   <div ng-include src="'views/app/ng-include/header.htm'"></div>
   <div class="row">
      <div class="col-md-12">
         <div class="row">
             <h1 class="menu-header-2">SETTINGS</h1>
         </div>
         <div class="row">
            <div class="col-md-3">
               <div ng-include src="'views/app/ng-include/menu.htm'"></div>
            </div>
            <div class="col-md-9">
               <div class="row row-margin-left" ng-controller="userInfoCtrl">
                 
                  <form class="form-horizontal" role="form" name="userinfo" >
                     <div class="form-group">
                        <label class="control-label col-sm-4 col-md-4" for="fullname">Full name:</label>
                        <div class="col-sm-8 col-md-8">
                           <input type="text" class="form-control input-sm"  placeholder="Full name" ng-model="names">
                        </div>
                     </div>
                     <div class="form-group">
                        <label class="control-label col-sm-4 col-md-4" for="fullname">username:</label>
                        <div class="col-sm-8 col-md-8">
                           <input type="text" class="form-control input-sm"  placeholder="username" ng-model="username" disabled>
                        </div>
                     </div>
                     
                     <div class="form-group">
                        <label class="control-label col-sm-4 col-md-4" for="gender">Gender:</label>
                        <div class="col-sm-2 col-md-2">
                           <select class="form-control input-sm" ng-model="gender">
							   <option>{{ gender }}</option>
                               <option value="M">M</option>
                               <option value="F">F</option>
                           </select>
                        </div>
                     </div>
                     <div class="form-group">
                        <label class="control-label col-sm-4 col-md-4" for="gender">Birthday:</label>
                        <div class="col-sm-2 col-md-2">
                           <input type="number" min="1" max="31" class="form-control input-sm" ng-model="day">
                        </div>
                        <div class="col-sm-3 col-md-3">
                           <select ng-options="month for month in months" class="form-control input-sm" ng-model="month">
                           </select>
                        </div>
                        <div class="col-sm-3 col-md-3">
                           <input type="number" min="1900" class="form-control input-sm" placeholder="Year" ng-model="year">
                        </div>
                     </div>
                     <div class="form-group">
                        <label class="control-label col-sm-4 col-md-4" for="occupation">Occupation:</label>
                        <div class="col-sm-8 col-md-8">
                           <input type="text" class="form-control input-sm" id="occupation" ng-model="job_title" placeholder="Occupation">
                        </div>
                     </div>
                     <div class="form-group">
                        <div class="col-sm-offset-4 col-md-offset-4 col-sm-8 col-md-8">
                           <button type="submit" ng-click="updateInfo()" class="btn btn-primary">Update info</button>
                        </div>
                     </div>
				   </form>
                  	<br>
                   <hr>
                   <form name="changeP" class="form-horizontal">
                     <h1 class="menu-header-form">Change password</h1>
                     <div class="form-group">
                        <label class="control-label col-sm-4 col-md-4" for="cpassword">Current password:</label>
                        <div class="col-sm-8 col-md-8">
                           <input type="password" class="form-control input-sm" id="cpassword" placeholder="Current password" ng-model="c_password" required>
                        </div>
                     </div>
                     <div class="form-group">
                        <label class="control-label col-sm-4 col-md-4" for="npassword">New password:</label>
                        <div class="col-sm-8 col-md-8">
                           <input type="password" class="form-control input-sm" id="npassword" placeholder="New password" ng-model="n_password" required>
                        </div>
                     </div>
                     <div class="form-group">
                        <label class="control-label col-sm-4 col-md-4" for="cnpassword">Confirm password:</label>
                        <div class="col-sm-8 col-md-8">
                           <input type="password" class="form-control input-sm" id="cnpassword" placeholder="Confirm password" ng-model="co_password" required>
                        </div>
                     </div>
                     
                     <div class="form-group">
                     	<label class="control-label col-sm-4 col-md-4" for="cnpassword"></label>
                     	<div class="col-sm-8 col-md-8">
					  		<p class="text-left error-msg" ng-show="pResponse">{{ pMessage }}</p>
						 </div>
				  	</div>
                     
                     <div class="form-group">
                        <div class="col-sm-offset-4 col-md-offset-4 col-sm-8 col-md-8">
                           <button type="submit" class="btn btn-primary" ng-disabled="!changeP.$valid" ng-click="changePassword()">Update settings</button>
                        </div>
                     </div>
                  </form>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>

