<nav class="navbar navbar-asprin">
   <div class="magenta-line"></div>
</nav>
<div class="container conatiner-signin">
   <div class="col-md-4 col-sm-6 col-md-xs-10 col-centered">
      <div class="">
         <a href="#/"><img src="assets/img/asprin_logo.png"></a>
         <h1 class="header-signin">Quality Products</h1>
         <div class="form">
            <form class="form-horizontal" role="form">
               <div class="form-group">
                  <div class="col-sm-12">
                     <input type="text" class="form-control input-lg" id="name" placeholder="Your name">
                  </div>
               </div>
               <div class="form-group">
                  <div class="col-sm-12">
                     <input type="email" class="form-control input-lg" id="email" placeholder="Enter email">
                  </div>
               </div>
               <div class="form-group">
                  <div class="col-sm-12">
                     <input type="password" class="form-control input-lg" id="pwd" placeholder="Enter password">
                  </div>
               </div>
               <div class="form-group">
                  <div class="col-sm-12">
                     <button type="submit" class="btn btn-primary input-lg">Submit</button>
                  </div>
               </div>
               <div class="text-center">
                  <p class="forget-passw"><span>Already have an Asprin account?</span><a href="#/signin"> Sign in</a>.</p>
               </div>
            </form>
         </div>
      </div>
   </div>
</div>
<footer style="visibility:visible;" class="footer-form">
   <div class="container">
      <div class="row footer">
         <div class="col-md-12 text-center">
            exuus © 2016
         </div>
      </div>
   </div>
</footer>
