<section class="sidebar">
   <div class="container-fluid">
      <div class="profile" ng-controller="profileCtrl">
         <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
            <img src="assets/img/remy.jpg">
         </div>
         <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
            <h4 ng-bind="fullname"></h4>
            <p ng-bind="username"></p>
         </div>
      </div>
      <div class="nav-menu" ng-controller="appMenuCtrl">
         <ul class="nav nav-pills nav-stacked">
            <li><a href="#/app/order" >New order <i class="glyphicon glyphicon-paperclip" style="padding-left:89px;"></i></a></li>
            <li><a href="#/app/asprindoc">Asprin doc <i class="glyphicon glyphicon-file" style="padding-left:88px;"></i></a></li>
            <li ng-show="menuPrinters"><a href="#/app/printers">Printers <i class="glyphicon glyphicon-print" style="padding-left:105px;"></i></a></li>
            <li><a href="#/app/settings">Settings <i class="glyphicon glyphicon-cog" style="padding-left:104px;"></i></a></li>
         </ul>
      </div>
      <div class="asprin-usage" ng-controller="usageCtrl">
         <p><b ng-bind="storage"></b></p>
         <p ng-bind="joined"></p>
      </div>
      <div class="row bussiness nav-menu" ng-controller="organisationCtrl">
         <hr>
         <ul class="nav nav-pills nav-stacked">
            <li ng-show="showOrg" class="organisation">
               <a href="" ng-click="orgFunc(business_id)">{{ organisation }}
               </a>
               	<ul class="nav nav-pills nav-statcked nav-nested">
					<li><a data-toggle="dropdown" href="" >Create team  <i class="glyphicon glyphicon-plus-sign" style="padding-left:50px;"></i></a>
					<ul class="dropdown-menu dropdown-org" role="menu" aria-labelledby="dLabel">
				   <form name="newOrgForm" class="newTeam">
				   		<div class="form-group">
				   			<input type="text" class="form-control input-sm" placeholder="Names" ng-model="names" required>
					   </div>
					   <div class="form-group">
				   			<input type="text" class="form-control input-sm" placeholder="Email" ng-model="email" required>
					   </div>
					   
					   <div class="form-group btn-pending">
						   <button class="btn btn-primary btn-sm" ng-disabled="!newTeam.$valid" ng-click="createTeam(names, email)">Send Invitation</button>
					   </div>
					   
				   </form>
               </ul>
					</li>
				</ul>
            </li>
            <li ng-show="newOrg" class="dropdown">
               <a data-toggle="dropdown" >Organization <i class="glyphicon glyphicon-plus-sign" style="padding-left:80px;"></i></a>
               <ul class="dropdown-menu dropdown-org" role="menu" aria-labelledby="dLabel">
				   <form name="newOrgForm" class="newOrgForm">
				   		<div class="form-group">
				   			<input type="text" class="form-control input-sm" placeholder="New organisation" ng-model="orgName" required>
					   </div>
					   <div class="form-group btn-pending">
						   <button class="btn btn-primary btn-sm" ng-disabled="!newOrgForm.$valid" ng-click="newOrgFunc(orgName)">Create {{ orgName }}</button>
					   </div>
					   
				   </form>
               </ul>
            </li>
         </ul>
         
 
         
      </div>
      <footer class="footer">
         <p class="text-center">asprin v1.0.0</p>
      </footer>
   </div>
</section>