<div ng-include="'app-views/ng-include/menu.html'"></div>
<section class="main" ng-controller="printersCtrl">
	<div class="panel panel-default">
   <div class="panel-body">
      <div class="pull-left">
         <h4>Printers</h4>
         <p>{{ numPrinters }}</p>
      </div>
      <div class="pull-right">
         <div ng-include="'app-views/ng-include/action.htm'"></div>
      </div>
   </div>
</div>
<div class="container-fluid asprin-doc" >
   <div class="row new-button">
	   <div class="pull-left notif" ng-show="printerNotif">
   			<img ng-src="{{printerIcon}}" style="width:30px;">
	   		<strong>New printer found!</strong>
	   		{{ printerName }} <span><a href="" ng-click="addPrinter(printerName, uuid, business_id, printerIcon, printerLocation, uri)">Add</a></span> 
	   </div> 
      <div class="pull-right">
         <a href="#/order" class="btn btn-default">New printers</a>
      </div>
   </div>
   <div class="row">
      <div class="table-responsive doc-table">
         <table class="table printer-table">
            <thead>
               <tr>
                  <th>Printer</th>
                  <th>Color Supported</th>
                  <th>Network Status</th>
               </tr>
            </thead>
            <tbody>
               <tr ng-repeat="printer in printers">
                  <td><img ng-src={{printer.printerIcon}}>{{ printer.printerName}}</td>
                  <td>{{ printer.colorMode}}</td>
                  <td>{{ printer.printerStatus}}</td>
               </tr>
            </tbody>
         </table>
      </div>
   </div>
</div>

</section>
  