
.panel-default{
	border-radius:0px !important; 
	width:100% !important;
}



.sidebar{
	width: 240px;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 1000; /* so the menu or its navicon stays above all content */
    background: #3A5685;
    overflow-y: auto;
}

.profile{
	margin-left: -8px;
	padding-top: 20px;
	padding-bottom: 60px;
	
}

.profile h4{
	line-height: 0px;
	color: #e9e9e9;
	font-weight: 800;
	font-size: 15px;
}

.profile p{
	color: #96A9C3;
	font-weight: 500;
}

.profile img{
	width: 45px;
	height: 45px;
}

.sidebar .footer{
	position: absolute;
	bottom: 0;
}

.user-names h4{
	font-weight: bold;
	color: #96A9C3;
}

.nav-menu{
	padding-bottom: 30px;
}

.nav-menu .nav-pills li a:hover,
.nav-menu .nav-pills li a:focus{
	background-color: #96A9C3;
	color: #e9e9e9;
}


.nav-menu .nav-pills li{
	line-height: 10px;
	margin-left: -8px;
	padding-left: -5px;
}



.nav-menu .nav-pills li a{
	color: #96A9C3;
	font-weight: bold;
	font-size: 12px;
}

.asprin-usage{
	font-size: 10.5px;
	color: #e9e9e9;
	margin-left: 8px;
}

.footer p{
	margin-left: 50px;
	font-size: 10.5px;
	color: #96A9C3;
}


.main{
	margin-left: 230px;
}


.main .panel .panel-body{
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 20px;
	margin-top: 5px;
}

.main .panel .panel-body .glyphicon{
	padding-top: 15px;
	font-size: 18px;
	color: #3e474f;
}



.main .panel .panel-body h4{
	font-weight: bold;
}

.main .panel .panel-body p{
	margin-top: -10px;
	font-size: 10px;
	color: #3e474f;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

.order h1{
	font-weight: 300;
	padding-bottom: 80px;
	padding-top: 20px;
}

.order .input-file{
	display:inline-block;
    margin: 0 auto;
	padding-bottom: 30px;
	padding-left: 90px;
}

.order .btn-default{
	width: 180px;
	background-color: #3A5685;
	color: #fff;
	border-color: #96A9C3; 
}

.order .btn-default:focus{
	width: 180px;
	background-color: #3A5685;
	color: #fff;
	border-color: #3A5685; 
}

.asprin-doc .btn-default{
	margin-right: 20px;
	width: 120px;
	background-color: #3A5685;
	color: #fff;
	border-color: #96A9C3;
}

.asprin-doc .btn-default:focus{
	margin-right: 20px;
	width: 120px;
	background-color: #3A5685;
	color: #fff;
	border-color: #96A9C3;
}

.asprin-doc .new-button{
	
	padding-bottom: 40px;
}

.asprin-doc .doc-table{
	margin-left: 20px;
	margin-right: 20px;
}


.doc-table img{
	width: 50px;
	padding-right: 15px;
}

.asprin-doc .table{
	border-top: 0px;
	
}

.asprin-doc .table th{
	font-weight: 500;
	color: #3e474f;
	font-size: 13px;
	border-bottom:1px solid #edeff0;
}

.asprin-doc .table td{
	font-weight: 400;
	font-size: 12px;
	border-bottom:1px solid #edeff0;
	margin-top: 90px;
}

.notif{
	padding-left: 25px;
}

.notif .alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 0px solid transparent;
    border-radius: 4px;
}

.settings{
	margin-left: 20px;
	margin-right: 20px;
}

.settings h1{
	font-weight: 300;
	padding-bottom: 10px;
	padding-top: 0px;
	text-align: center;
}

.setting hr{
	padding-bottom: 0px;
}

.settings .form-horizontal .control-label {
    text-align: left;
	font-weight: 400;
}

.magenta-line:before {
    content: '';
    position: absolute;
    top: -1px;
    left:-1px;
	right: -1px;
    width: auto;
    height: 4px;
    background: #3A5685;
    z-index: 14; 
}

.col-centered img {
    display: block;
    margin: auto;
}

.login-view{
	margin-top: 100px;
}

.login-view h1{
	font-weight: 100;
	font-size: 25px;
	padding-bottom: 10px;
	margin-top: 2px;
	text-align: center;
}

.error-msg{
	color: #D4186F;
}


.printer-table td{
	line-height: 52px;
}

.app-table>tbody>tr>td {
    color: #3e474f !important;
    font-size: 13px;
    border-top: 1px solid #edeff0;
}

.bussiness{
	padding-top: 5px;
	padding-left: 15px;
	padding-right: 15px;
}

.organisation a{
	font-size: 14px !important;
}


.dropdown-org{
	width: 219px;
}

.dropdown-org .newOrgForm{
	margin-left: 10px;
	margin-top: 10px;
	margin-right: 10px;
}

.dropdown-org .btn-pending{
	margin-bottom: 5px !important;
}
