<div class="panel panel-default">
  <div class="panel-body">
  	  <div class="pull-left">
  	  	<h4>Asprin Doc</h4>
	  	<p>127 Documents</p>
	  </div>
	  <div class="pull-right">
		  <div class="dropdown">
			  <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="glyphicon glyphicon-option-vertical"></i></a>
			  <ul class="dropdown-menu dropdown-menu-right">
				<li><a href="#">Action</a></li>
				<li><a href="#">Another action</a></li>
				<li><a href="#">Something else here</a></li>
				<li role="separator" class="divider"></li>
				<li><a href="#">Separated link</a></li>
				<li role="separator" class="divider"></li>
				<li><a href="#">One more separated link</a></li>
			  </ul>
		  </div>
	  </div>
  </div>
</div>
<div class="container-fluid asprin-doc">
	<div class="row new-button">
		<div class="pull-right">
			<a href="#/order" class="btn btn-default">New</a>
		</div>
	</div>
	<div class="row">
		<div class="table-responsive doc-table"> 
			<table class="table">
				<thead>
				<tr>
					<th>Customer</th>
					<th>file</th>
					<th>page</th>
					<th>size</th>
					<th>price</th>
					<th>created</th>
					<th>status</th>
					</tr>
				</thead>
				<tbody>
				<tr>
					<td>Remy Muhire</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					</tr>
					<tr>
					<td>Remy Muhire</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>