<div class="panel panel-default">
  <div class="panel-body">
  	  <div class="pull-left">
  	  	<h4>Order</h4>
	  	<p>new scan here!</p>
	  </div>
	  <div class="pull-right">
		  <div class="dropdown">
			  <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="glyphicon glyphicon-option-vertical"></i></a>
			  <ul class="dropdown-menu dropdown-menu-right">
				<li><a href="#">Action</a></li>
				<li><a href="#">Another action</a></li>
				<li><a href="#">Something else here</a></li>
				<li role="separator" class="divider"></li>
				<li><a href="#">Separated link</a></li>
				<li role="separator" class="divider"></li>
				<li><a href="#">One more separated link</a></li>
			  </ul>
		  </div>
	  </div>
  </div>
</div>


<div class="container-fluid">
	<div class="row">
		<div class="col-xs-8 col-sm-8 col-md-8 col-lg-6 col-centered text-center order">
			<h1>SCAN PDF WITH ASPRIN</h1>
			<div class="row">
				<form>
					<div class="form-group input-file">
						<input type="file">
					</div>
					<div class="form-group">
						<button type="submit" class="btn btn-default">
							SCAN
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>