
.panel-default{
	border-radius:0px !important; 
	width:100% !important;
}



.sidebar{
	width: 220px;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 1000; /* so the menu or its navicon stays above all content */
    background: #191818;
    overflow-y: auto;
}


.profile-img img{
	width: 40%;
	border-radius: 50%;
	display: block;
    margin: 0 auto;
	padding-top: 20px;
	padding-bottom: 0px;
}

.sidebar .footer{
	position: absolute;
	bottom: 0;
}
