<table class="table" ng-controller="appMenuCtrl">
                  <tr>
                     <td><a href="#/app/">New Order</a></td>
                     <td class="text-right"><a href="#/app/"><i class="glyphicon glyphicon-paperclip"></i></a></td>
                  </tr>
                  <tr>
                     <td><a href="#/app/asprin-doc">Asprin Doc</a></td>
                     <td class="text-right"><a href="#/app/asprin-doc"><i class="glyphicon glyphicon-file"></i></a></td>
                  </tr>
                  <tr ng-show="menuPrinters">
                     <td><a href="#/app/printers">Printers</a></td>
                     <td class="text-right"><a href="#/app/printers"><i class="glyphicon glyphicon-print"></i></a></td>
                  </tr>
                  <tr ng-show="menuBooking">
                     <td><a href="#/app/">Book Keeping</a></td>
                     <td class="text-right"><a href="#/app/"><i class="glyphicon glyphicon-book"></i></a></td>
                  </tr>
                  <tr>
                     <td><a href="#/app/settings">Settings</a></td>
                     <td class="text-right"><a href="#/app/settings"><i class="glyphicon glyphicon-cog"></i></a></td>
                  </tr>
               </table>