<div class="magenta-line"></div>
<div class="container">
   <!-- Brand and toggle get grouped for better mobile display -->
   <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#/app/"><img src="assets/img/asprin_logo.png" class="brand-logo"></a>
   </div>
   <!-- Collect the nav links, forms, and other content for toggling -->
   <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
         <li>
            <div class="circular dropdown">
				<a class="dropdown-toggle" data-toggle="dropdown">
         			<img src="assets/img/remy.jpg" class="img-circle">
          		</a>
				<ul class="dropdown-menu" style="margin: 15px 0 0;">
				  <li><a href="">Profile</a></li>
				  <li><a href="#/app/settings">Settings</a></li>
				  <li class="divider"></li>
				  <li><a href="#/">Logout</a></li>
				</ul>
            </div>
         </li>
         <li></li>
      </ul>
   </div>
</div>