<nav class="navbar navbar-asprin">
   <div class="container">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      </button>
      <div class="navbar-header">
         <a class="navbar-brand" href="#/">
         <img src="assets/img/asprin_logo.png" class="brand-logo">
         </a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
         <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Download app</a></li>
            <li><a href="#/signin">Sign in</a></li>
         </ul>
      </div>
      <!-- /.navbar-collapse -->
   </div>
</nav>

<div class="container-fluid asprin-bg-1">
   <div class="row">
      <h1>SCAN YOUR PDF WITH ASPRIN</h1>
      <div class="input-group col-md-4 col-lg-4 col-xs-10 asprin-input-center">
         <form>
            <span class="input-group-addon input-height">
               <button id="fire-file-btn" class=""><i class="glyphicon glyphicon-file"></i></button>
            </span>
            <input type="text" class="form-control input-height" id="load-filename" aria-label="Amount (to the nearest dollar)" style="border:0px;">
            <span class="input-group-addon input-height hide-upload-btn" ng-show="upload">
               <a href="#/offers" ng-click="showLoader" id="uplaod-asprin-file"><i class="glyphicon glyphicon-arrow-right"></i></a>
            </span>
            <span class="input-group-addon input-height show-upload-btn" ng-show="loader"><img src="assets/img/loader.gif"></span>
            <div class="file-asprin">
               <input type="file" name="filename-asprin" id="filename-asprin" ng-show="false">
            </div>
         </form>
        
      </div>
   </div>
</div>
<div class="container container-margin">
   <div class="row">
      <div class="col-md-12">
         <h1 class="asprin-number">
            Over <span>1,230,890</span> files printed with asprin.
         </h1>
         <div class="asprin-line"></div>
         <p class="about-asprin">Front-end web development, also known as client-side development is the practice of producing HTML, CSS and JavaScript for a website or web application so that a user can see and interact with them directly.</p>
      </div>
   </div>
   <div class="row">
      <div class="col-md-6 col-lg-6 col-xs-12">
         <h2>ASPRIN Description</h2>
         <p>Front-end web development, also known as client-side development is the practice of producing HTML, CSS and JavaScript for a website or web application so that a user can see and interact with them directly.[1] The challenge associated with front end development is that the tools and techniques used to create the front end of a website change constantly and so the developer needs to constantly be aware of how the field is developing.[2]</p>
         <p>The objective of designing a site is to ensure that when the users open up the site they see the information in a format that is easy to read and relevant. This is further complicated by the fact that users now use a large variety of devices with varying screen sizes and resolutions thus forcing the designer to take into consideration these aspects when designing the site. They need to ensure that their site comes up correctly in different browsers (cross-browser), different operating systems (cross-platform) and different devices (cross-device), which requires careful planning on the side of the developer.</p>
      </div>
      <div class="col-md-6 col-lg-6 col-xs-12">
         <img src="assets/img/image1.jpg" class="img-desc">
      </div>
   </div>
</div>
<div class="container-fuild asprin-bg-2">
   <div class="container">
      <div class="row">
         <div class="col-md-6 col-lg-6 col-xs-12">
            <img src="assets/img/image2.jpg" class="img-desc">
         </div>
         <div class="col-md-6 col-lg-6 col-xs-12">
            <h2>ASPRIN Description</h2>
            <p>Front-end web development, also known as client-side development is the practice of producing HTML, CSS and JavaScript for a website or web application so that a user can see and interact with them directly.[1] The challenge associated with front end development is that the tools and techniques used to create the front end of a website change constantly and so the developer needs to constantly be aware of how the field is developing.[2]</p>
            <p>The objective of designing a site is to ensure that when the users open up the site they see the information in a format that is easy to read and relevant. This is further complicated by the fact that users now use a large variety of devices with varying screen sizes and resolutions thus forcing the designer to take into consideration these aspects when designing the site. They need to ensure that their site comes up correctly in different browsers (cross-browser), different operating systems (cross-platform) and different devices (cross-device), which requires careful planning on the side of the developer.</p>
         </div>
      </div>
   </div>
</div>
<div class="container">
   <div class="row">
      <div class="col-md-6 col-lg-6 col-xs-12">
         <h2>ASPRIN Description</h2>
         <p>Front-end web development, also known as client-side development is the practice of producing HTML, CSS and JavaScript for a website or web application so that a user can see and interact with them directly.[1] The challenge associated with front end development is that the tools and techniques used to create the front end of a website change constantly and so the developer needs to constantly be aware of how the field is developing.[2]</p>
         <p>The objective of designing a site is to ensure that when the users open up the site they see the information in a format that is easy to read and relevant. This is further complicated by the fact that users now use a large variety of devices with varying screen sizes and resolutions thus forcing the designer to take into consideration these aspects when designing the site. They need to ensure that their site comes up correctly in different browsers (cross-browser), different operating systems (cross-platform) and different devices (cross-device), which requires careful planning on the side of the developer.</p>
      </div>
      <div class="col-md-6 col-lg-6 col-xs-12">
         <img src="assets/img/image3.jpg" class="img-desc">
      </div>
   </div>
</div>
<footer>
   <div class="container">
      <div class="row footer">
         <div class="col-lg-4 col-md-4 col-xs-12">
            <img src="assets/img/asprin_logo.png" class="logo-footer">
            <p class="text-center">©2016 exuus</p>
         </div>
         <div class="col-lg-2 col-md-2 col-xs-12" >
            <ul class="list-unstyled list-st">
               <li>
                  <h5>Asprin</h5>
               </li>
               <li><a href="#">Desktop Apps</a></li>
               <li><a href="#">Mobile Apps</a></li>
               <li><a href="#">Pricing</a></li>
            </ul>
         </div>
         <div class="col-lg-2 col-md-2 col-xs-12" >
            <ul class="list-unstyled list-st">
               <li>
                  <h5>Company</h5>
               </li>
               <li><a href="#">About us</a></li>
               <li><a href="#">Press</a></li>
               <li><a href="#">Blog</a></li>
               <li><a href="#">Jobs</a></li>
            </ul>
         </div>
         <div class="col-lg-2 col-md-2 col-xs-12">
            <ul class="list-unstyled list-st">
               <li>
                  <h5>Support</h5>
               </li>
               <li><a href="#">Help Center</a></li>
               <li><a href="#">Contact us</a></li>
               <li><a href="#">Cookies</a></li>
               <li><a href="#">Privacy & Terms</a></li>
            </ul>
         </div>
         <div class="col-lg-2 col-md-2 col-xs-12">
            <ul class="list-unstyled list-st">
               <li>
                  <h5>Connect</h5>
               </li>
               <li><a href="#">Twitter</a></li>
               <li><a href="#">Facebook</a></li>
               <li><a href="#">Instagram</a></li>
               <li><a href="#">Youtube</a></li>
            </ul>
         </div>
      </div>
   </div>
</footer>
