<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Print Details | Asprin</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
      <nav class="navbar navbar-asprin">
  		<div class="container">
   			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
    		<div class="navbar-header">
      			<a class="navbar-brand" href="index.html">
        			<img src="assets/img/asprin_logo.png" class="brand-logo">
      			</a>
    		</div>
    		
    		<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			  
			  <ul class="nav navbar-nav navbar-right">
				<li><a href="#">Download app</a></li>
				<li><a href="#">Sign in</a></li>
			  </ul>
			</div><!-- /.navbar-collapse -->
  		</div>
  		</nav>
  		<div class="container-fluid aspin-bg-3">
  			<div class="row ">
				<div class="col-md-5 col-centered">
					<div class="col-md-4 col-sm-6 col-xs-12 hidden-xs">
					<img src="assets/img/pdf_2.png" alt="" class="img-thumbnail" >
				</div>
				<div class="col-md-8 col-sm-6 col-xs-12 print-detail">
					<table class="table">
						<tr>
							<td>Number Of Pages</td>
							<td>370</td>
						</tr>
						<tr>
							<td>Number of copies</td>
							<td>4</td>
						</tr>
						<tr>
							<td>Paper size</td>
							<td>A4</td>
						</tr>
						<tr>
							<td>Paper type</td>
							<td>Hard</td>
						</tr>
					</table>
				</div>
				</div>
			</div>
		</div>
 		
 		
  	  <footer>
   		<div class="container">
   			<div class="row footer">
   				<div class="col-lg-4 col-md-4 col-xs-12">
   					<img src="assets/img/asprin_logo.png" class="logo-footer">
   					<p class="text-center">©2016 exuus</p>
				</div>
  				<div class="col-lg-2 col-md-2 col-xs-12" >
   					<ul class="list-unstyled list-st">
						<li><h5>Asprin</h5></li>
						<li><a href="#">Desktop Apps</a></li>
						<li><a href="#">Mobile Apps</a></li>
						<li><a href="#">Pricing</a></li>
					</ul>
   				</div>
   				<div class="col-lg-2 col-md-2 col-xs-12" >
   					<ul class="list-unstyled list-st">
						<li><h5>Company</h5></li>
						<li><a href="#">About us</a></li>
						<li><a href="#">Press</a></li>
						<li><a href="#">Blog</a></li>
						<li><a href="#">Jobs</a></li>
					</ul>
   				</div>
   				
   				<div class="col-lg-2 col-md-2 col-xs-12">
   					<ul class="list-unstyled list-st">
						<li><h5>Support</h5></li>
						<li><a href="#">Help Center</a></li>
						<li><a href="#">Contact us</a></li>
						<li><a href="#">Cookies</a></li>
						<li><a href="#">Privacy & Terms</a></li>
					</ul>
   				</div>
   				<div class="col-lg-2 col-md-2 col-xs-12">
   					<ul class="list-unstyled list-st">
						<li><h5>Connect</h5></li>
						<li><a href="#">Twitter</a></li>
						<li><a href="#">Facebook</a></li>
						<li><a href="#">Instagram</a></li>
						<li><a href="#">Youtube</a></li>
					</ul>
   				</div>
			</div>
			
		</div>
	</footer>
	

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="js/jquery-1.11.2.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
   	<script src="js/bootstrap.min.js"></script>
   	<script src="js/script.js"></script>
  </body>
</html>