<nav class="navbar navbar-asprin">
   <div class="container">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      </button>
      <div class="navbar-header">
         <a class="navbar-brand" href="#/">
         <img src="assets/img/asprin_logo.png" class="brand-logo">
         </a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
         <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Download app</a></li>
            <li><a href="#/signin">Sign in</a></li>
         </ul>
      </div>
      <!-- /.navbar-collapse -->
   </div> 
</nav>

<div class="container-fluid aspin-bg-3" ng-controller="signupoCrtl">
   <div class="row">
      <div class="col-md-12">
          <h1>Order <span ng-bind="filename"></span></h1>
      </div>
   </div>
   <div class="row ">
      <div class="col-md-6 col-centered-h">
         <div class="col-md-8 col-sm-7 col-xs-12 hidden-xs">
            <div class="sign-in-order">
               <h1>Sign up</h1>
               <form name="singup_o">
                  <div class="form-group">
                     <input type="text" class="form-control" placeholder="Full name" name="fullname" ng-model="fullname" required>
                  </div>
                  <div class="form-group">
                     <input type="text" class="form-control" placeholder="Email" name="email" ng-model="email" required>
                  </div>
                  <div class="form-group">
                     <input type="password" class="form-control" placeholder="Password" name="password" ng-model="password" required>
                  </div>
                   <div class="form-group">
					  <p class="text-center error-msg" ng-model="singupTextResponse"> {{ singupResponse }}</p>
				  </div>
                  <div class="from-group">
                     <p>
                        <button type="submit" class="btn btn-primary btn-width" ng-click="singup(fullname, email, password)" ng-disabled="!singup_o.$valid">Sign in</button>
                        have an account? <a href="#/signin-o">Sign in</a>
                     </p>
                  </div>
               </form>
            </div>
         </div>
         <div class="col-md-4 col-sm-5 col-xs-12">
            <table class="table order-details">
               <tr>
                  <td>Pages</td>
                  <td ng-bind="page"></td>
               </tr>
               <tr>
                  <td>Copies</td>
                  <td>1</td>
               </tr>
               <!--<tr>
                  <td>Paper size</td>
                  <td>A4</td>
               </tr>
               <tr>
                  <td>Paper type</td>
                  <td>Hard</td>
               </tr> -->
               <tr>
                  <td>Print price</td>
                  <td ng-bind="price"></td>
               </tr>
               <!--<tr>
                  <td>Paper price</td>
                  <td>100 rwf</td>
               </tr>-->
               <tr>
                  <td>Total price</td>
                  <td ng-bind="tprice"></td>
               </tr>
            </table>
         </div>
      </div>
   </div>
</div>

<footer>
   <div class="container">
      <div class="row footer">
         <div class="col-lg-4 col-md-4 col-xs-12">
            <img src="assets/img/asprin_logo.png" class="logo-footer">
            <p class="text-center">©2016 exuus</p>
         </div>
         <div class="col-lg-2 col-md-2 col-xs-12" >
            <ul class="list-unstyled list-st">
               <li>
                  <h5>Asprin</h5>
               </li>
               <li><a href="#">Desktop Apps</a></li>
               <li><a href="#">Mobile Apps</a></li>
               <li><a href="#">Pricing</a></li>
            </ul>
         </div>
         <div class="col-lg-2 col-md-2 col-xs-12" >
            <ul class="list-unstyled list-st">
               <li>
                  <h5>Company</h5>
               </li>
               <li><a href="#">About us</a></li>
               <li><a href="#">Press</a></li>
               <li><a href="#">Blog</a></li>
               <li><a href="#">Jobs</a></li>
            </ul>
         </div>
         <div class="col-lg-2 col-md-2 col-xs-12">
            <ul class="list-unstyled list-st">
               <li>
                  <h5>Support</h5>
               </li>
               <li><a href="#">Help Center</a></li>
               <li><a href="#">Contact us</a></li>
               <li><a href="#">Cookies</a></li>
               <li><a href="#">Privacy & Terms</a></li>
            </ul>
         </div>
         <div class="col-lg-2 col-md-2 col-xs-12">
            <ul class="list-unstyled list-st">
               <li>
                  <h5>Connect</h5>
               </li>
               <li><a href="#">Twitter</a></li>
               <li><a href="#">Facebook</a></li>
               <li><a href="#">Instagram</a></li>
               <li><a href="#">Youtube</a></li>
            </ul>
         </div>
      </div>
   </div>
</footer>
